In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("D:\drive\SENIOR\Capstone\Paychex\oneHotEncoded\\ratio2.csv")

In [6]:
df.head()

,Pseudo_ClientID,Activity01,Activity02,Activity03,Activity04,Activity05,Activity06,Activity07,Activity08,Activity09,Activity10,Activity11,Activity12,Activity13,Activity14,Activity15,Activity16,Issue_YN
0,00022C46-9142-4469-AEF6-E235802CBE11,0.333333,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.166667,0.366667,0.066667,0.000000,0.0,0.0,0.066667,0.0,0
1,00029786-E7BB-4442-90B1-C48A8211F0DF,0.333333,0.000000,0.0,0.0,0.0,0.000000,0.200000,0.0,0.100000,0.033333,0.100000,0.100000,0.0,0.0,0.133333,0.0,0
2,0002A30C-B22C-447C-ADAF-025BA827B2F3,0.137405,0.007634,0.0,0.0,0.0,0.007634,0.022901,0.0,0.236641,0.473282,0.030534,0.061069,0.0,0.0,0.022901,0.0,0
3,00042184-FF8D-4255-8201-FB782CFEA259,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.0,0
4,000477F9-3A91-479E-B10A-2C2BFA344360,0.362637,0.000000,0.0,0.0,0.0,0.000000,0.142857,0.0,0.120879,0.164835,0.043956,0.043956,0.0,0.0,0.120879,0.0,0

In [11]:
df['Activity14'].describe()

count    37515.000000
mean         0.000008
std          0.000736
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.121212
Name: Activity14, dtype: float64